/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */

header {
    width: 1920px;
    height: 34px;
    background: #F3F3F3;
}

.subscribeHeader {
    width: 1020px;
    height: 24px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.subscribeHeader ul {
    display: flex;
    margin: 0
    ;
}

.subscribeHeader ul li {
    width: calc(136px/2);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #181818;

    text-align: center;
    align-items: center;
    line-height: 34px;

}

.subscribeHeader ul li:nth-child(2){
    margin-right: 728px;
}




/* ---------------------------------------------- */
/*그리드                                           */
/* ---------------------------------------------- */


.container {
    width: 1020px;
    height: 116px;
    margin: 0 454px;
    
    display: grid;

    grid-template-columns: 110px 216px 516px 1fr 1fr;
    grid-template-rows: 64px 64px;

    grid-template-areas: 
    'categorybtn logo search mycupang cart'
    'categorybtn menulist menulist nothing nothing';
}

.categorybtn {grid-area: categorybtn;}
.logo {grid-area: logo;}
.search {grid-area: search;}
.mycupang {grid-area: mycupang;}
.cart {grid-area: cart;}
.menulist {grid-area: menulist;}
.nothing {grid-area: nothing;}

.container div {
    box-sizing: border-box;
    /* border: 1px solid red; */
}


/* ---------------------------------------------- */
/*그리드 내용                                       */
/* ---------------------------------------------- */
.categorybtn {
    background-color: var(--color-blue-600);
    position: relative;
    width: 110px;
    height: 116px;

}

.category-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    width: 100%;
}

.category-txt {
    color:#fff;
    padding-top: 30px;
    font-size: 12px;
}

.logo {
    height: 100px;
}

.logo h1 img{
    height: 40px;
    margin-left: 40px;
}

.search {
    position: relative;
    top: 18px;
    left: 40px;

    border: 1px solid blue;
    width: calc(514px - 40px);
    height: 40px;

    line-height: 40px;
}

.searchbar {
    width: 516px;
}

.search select {
    border: none;
    text-align: center;
}

.search input {
    width: 301px;
    border: none;
}

.mic_icon {
    position: absolute;
    top: 5px;
    right: 60px;
}

.search_icon {
    position: absolute;
    top: 5px;
    right: 20px;
}

.mycupang {
    position: relative;
    height: 100%;
}

.mycupang img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 

.mycupang p {
    position: absolute;
    top: 40%;
    left: calc(50% - 45px/2 - 0.23px);
    top: 43px;

    font-weight: 400;
    font-size: 12px;

}


.cart {
    position: relative;
}

.cart img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 

.cart p {
    position: absolute;
    top: 40%;
    left: calc(50% - 45px/2 - 0.23px);
    top: 43px;

    font-weight: 400;
    font-size: 12px;
}

.cart span {
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(50% - 6px/2);
    top: calc(50% - 55px/2);
    
    background: #0074E9;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

.menulist ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}